<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/microbat_instrumentator/src/test/java/microbat/tools/JarPackageTool.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="deploy_dir" value="D:\linyun\eclipse\committers-2020-06\eclipse\dropins\junit_lib\"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="microbat.tools.JarPackageTool"/>
<stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="microbat_instrumentator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="microbat_instrumentator"/>
</launchConfiguration>
