<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="microbat.category"
            name="MicroBat">
      </category>
      <view
            category="microbat.category"
            class="microbat.views.DebugFeedbackView"
            icon="icons/feedback.png"
            id="microbat.view.debugFeedback"
            name="Debug Feedback"
            restorable="true">
      </view>
      <view
            category="microbat.category"
            class="microbat.views.TraceView"
            icon="icons/trace.png"
            id="microbat.view.trace"
            name="Trace"
            restorable="true">
      </view>
      <view
            category="microbat.category"
            class="microbat.views.ConcurrentTraceView"
            icon="icons/trace.png"
            id="microbat.view.concurrentTrace"
            name="Concurrent Trace"
            restorable="true">
      </view>
      <view
            category="microbat.category"
            class="microbat.views.ReasonView"
            icon="icons/navigation_history.png"
            id="microbat.view.reason"
            name="Recommending Reason"
            restorable="true">
      </view>
      <category
            id="microbat.evalCategory"
            name="Evaluation">
      </category>
      <view
            category="microbat.evalCategory"
            class="microbat.evaluation.views.BeforeTraceView"
            icon="icons/before.png"
            id="microbat.evalView.beforeTraceView"
            name="Before Trace"
            restorable="true">
      </view>
      <view
            category="microbat.evalCategory"
            class="microbat.evaluation.views.AfterTraceView"
            icon="icons/after.ico"
            id="microbat.evalView.afterTraceView"
            name="After Trace"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="microbat.perspectives.MicroBatPerspective"
            icon="icons/microbat.png"
            id="microbat.perspectives.MicroBatPerspective"
            name="MicroBat">
      </perspective>
      <perspective
            class="microbat.perspectives.ConcurrentPerspective"
            icon="icons/concurrency.png"
            id="microbat.perspectives.ConcurrentPerspective"
            name="Concurrent">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="microbat.handler.StartDebugHandler"
            id="microbat.command.startDebug"
            name="Start Debugging">
      </command>
      <command
            defaultHandler="microbat.evaluation.handler.EvaluationAllHandler"
            id="microbat.command.evaluateAll"
            name="Run Evaluation for All">
      </command>
      <command
            defaultHandler="microbat.handler.UndoHandler"
            id="microbat.command.undo"
            name="Undo">
      </command>
      <command
            defaultHandler="microbat.handler.SearchStepForwardHandler"
            id="microbat.command.searchStepForward"
            name="Search Step Forward">
      </command>
      <command
            defaultHandler="microbat.handler.SearchStepBackwardHandler"
            id="microbat.command.searchStepBackward"
            name="Search Step Backward">
      </command>
      <command
            defaultHandler="microbat.evaluation.handler.EvaluationTestCaseHandler"
            id="microbat.command.evaluationTestCase"
            name="Run Evaluation for Test Case">
      </command>
      <command
            defaultHandler="microbat.evaluation.handler.EvaluationTrialHandler"
            id="microbat.command.evaluateTrial"
            name="Run Evaluation for Trial">
      </command>
      <command
            defaultHandler="microbat.test.handler.RunTestHandler"
            id="microbat.command.runTest"
            name="Run Test">
      </command>
      <command
            defaultHandler="microbat.handler.TransformLibHandler"
            id="microbat.command.transformRTJar"
            name="Transform JDK Library">
      </command>
      <command
            defaultHandler="microbat.handler.StoreTraceHandler"
            id="microbat.command.StoreTrace"
            name="Store Trace">
      </command>
      <command
            defaultHandler="microbat.handler.TraceRestoreHandler"
            id="microbat.command.RestoreTrace"
            name="Restore Trace">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="MicroBat">
            <command
                  commandId="microbat.command.startDebug"
                  icon="icons/microbat.png"
                  label="Start Debug"
                  style="push">
            </command>
            <command
                  commandId="microbat.command.undo"
                  icon="icons/undo.png"
                  label="Undo Your Debug Operation"
                  style="push">
            </command>
            <menu
                  label="Run Evaluation">
               <command
                     commandId="microbat.command.evaluateAll"
                     icon="icons/evaluation.png"
                     label="All"
                     style="push">
               </command>
               <command
                     commandId="microbat.command.evaluationTestCase"
                     icon="icons/evaluation.png"
                     label="Test Case"
                     style="push">
               </command>
               <command
                     commandId="microbat.command.evaluateTrial"
                     icon="icons/evaluation.png"
                     label="Trial"
                     style="push">
               </command>
            </menu>
            <command
                  commandId="microbat.command.runTest"
                  icon="icons/evaluation.png"
                  label="Run Test"
                  style="push">
            </command>
            <command
                  commandId="microbat.command.transformRTJar"
                  label="Transform JDK Library"
                  style="push">
            </command>
            <command
                  commandId="microbat.command.StoreTrace"
                  label="Store Trace"
                  style="push">
            </command>
            <command
                  commandId="microbat.command.RestoreTrace"
                  label="Restore Trace"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="microbat.toolbar.startDebug">
            <command
                  commandId="microbat.command.startDebug"
                  icon="icons/microbat.png"
                  label="Start Debug"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="microbat.toolbar.undo">
            <command
                  commandId="microbat.command.undo"
                  icon="icons/undo.png"
                  label="Undo Your Debug Operation"
                  style="push"
                  tooltip="undo your previous debugging operation">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#AbstractTextEditorRulerContext?after=additions">
         <command
               commandId="microbat.command.searchStepBackward"
               icon="icons/up.png"
               label="Search Step Backward"
               style="push"
               tooltip="search the nearest trace step with regard to current step">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#AbstractTextEditorRulerContext?after=additions">
         <command
               commandId="microbat.command.searchStepForward"
               icon="icons/down.png"
               label="Search Step Forward"
               style="push"
               tooltip="search the nearest trace step with regard to current step">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationImageProvider="microbat.views.StepImageProvider"
            annotationType="microbat.specification.step"
            colorPreferenceKey="inspected_step_color"
            colorPreferenceValue="127,255,212"
            contributesToHeader="true"
            highlightPreferenceKey="inspected_step_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="StepAnnotation"
            overviewRulerPreferenceKey="inspected_step_overview"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="inspected_step_text"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="inspected_step_vertical"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="microbat.preference.MicrobatPreference"
            id="microbat.preference"
            name="Microbat Debugging">
      </page>
      <page
            category="microbat.preference"
            class="microbat.preference.DatabasePreference"
            id="microbat.preference.database"
            name="Database">
      </page>
      <page
            category="microbat.preference"
            class="microbat.preference.AnalysisScopePreference"
            id="microbat.preference.analysisScope"
            name="Analysis Scope">
      </page>
      <page
            category="microbat.preference"
            class="microbat.preference.ExecutionRangePreference"
            id="microbat.preference.executionRange"
            name="Execution Range">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="microbat.specification.step">
      </type>
   </extension>

</plugin>
